.App {
  text-align: center;
  height: 100%;
  background-color: #71BCE1;/*
  background-image: url('./images/wave-haikei.svg');
  background-repeat: no-repeat;
  background-size: 201vw;
  background-position: bottom;*/
  display: flex;
  justify-content: center;
}

.main{
  width: 100%;
  margin: 100px 0 0 0;
}

.title{
  font-size: 5.5vw;
  text-decoration: underline;
}

.description{
  font-size: 3vw;
}
.form{
  height: 45px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center ;
}

.rah-input-wrapper, input{
  width: 750px;
  height: 90%;
  font-size: large;
  border-radius: 10px;
}

.form-submit{
  margin-left: 20px;
  background-color: #1a1a1a;
  color:white;
  border: #1a1a1a;
  border-radius: 10px;
  padding: 10px 15px;
}
